.main-container {
    height: 100%;
    display: flex;
}

.top-buttons-container {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 50%;
}

.left-container {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 50%;
}
